<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello" verbose="1" >
    <test name="SmokeTest " >
        <classes>
            <class name="com.oleg.trello.tests.LoginTestHW" />
            <class name="com.oleg.trello.tests.BoardCreationTests" />

        </classes>
    </test>
</suite>
